<!--自分の投稿記事一覧リンク付きで表示-->

投稿一覧

<ul>
  <% @user.my_topic.each do |topic| %>
    <li><%= link_to topic.title, topic_path(id: topic.id) %></li>
    <%= l topic.created_at, format: :long %>
    最終更新
    <%= l topic.updated_at, format: :long %>
  <% end %>
</ul>
<!--お気に入りの記事一覧はボタンが有るので不要では無いか？-->