<!--自分の投稿記事一覧リンク付きで表示して他からはその人の投稿一覧ページにする-->
  <!--本人時編集と削除リンク-->

投稿一覧
<h1>aaaaaaaaaaaaaaaaaaaaaaa</h1>
<h1>aaaaaaaaaaaaaaaaaaaaaaa</h1>
<h1>aaaaaaaaaaaaaaaaaaaaaaa</h1>
<h1>aaaaaaaaaaaaaaaaaaaaaaa</h1>
<h1>aaaaaaaaaaaaaaaaaaaaaaa</h1>



<!--お気に入りの記事一覧はボタンが有るので不要では無いか？-->