<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">投稿記事</h1>
    <h2 class="text-white">Pictgram is a service that you can post photos.</h2>
  </div>
</div>