// topページ

h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  // background-image: url('bg-top.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #CCCCCC;    //#464646(元カラー)
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

// login
.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100%;
  height: 102vh;
  background-image: image-url('bg-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}


//アラートのデザイン
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

// ナビバーデザイン
.navbar-transparent {
  height: 100px;
  margin-bottom: 0px;
  background-color: rgba(0,112,74,1);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
  
  .user {
    border: 1px solid white;
    padding: 10px 30px;
    margin: 15px 20px 0 0;
    font-size : 17px;
  }
  
  .create_new {
    border: 2px solid white;
    padding: 10px 30px;
    margin: 15px 20px 0 15px;
    font-size : 17px;
    font-weight: bold;
    letter-spacing: 5px;
  }
  
  .search-window {
    position: relative;
    top: 50px;
    left: 20px;
  }
}

// 投稿ページのデザイン
.btn-black {
  color: #fff;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: #00704a;

  // &:hover {
  //   color: #565656;
  // }
}

.topic-new-wrapper {
  padding-top: 120px;
}

// 投稿一覧のデザイン

.topic-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
    
    .topic-index-icon-red {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}

// 投稿画面
.title-field {
  height: 40px;
  width: 555px;
  font-size: 25px;
}

.contents_field {
  width: 558px;
  height: 200px;
  font-size: 25px;
}